@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .main_section {
    background:
      url(../../../assets/main_sections/start-screen-gradient-background.png) 0%
        0% / 110px 110px repeat,
      /* url(../../../assets/main_sections/start-screen-background.png), */
        radial-gradient(70% 160% at 0% 0%, #5b483a 0%, #262425 100%);
  }

  .header__content {
    width: 708px;
    height: 60px;
    overflow: hidden;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
  }

  .header__logo {
    width: 186px;
    height: 60px;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .header__logo_title {
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 6%;
    color: var(--color-primary);

    margin: 0;
    padding: 0;
  }

  .header__logo_subtitle {
    font-family: Arial;
    font-size: 13px;
    letter-spacing: 10%;
    color: var(--color-light-xl);
    padding-left: 4px;
  }

  .header__burger_menu {
    display: none;
  }

  .header__nav_menu_overlay {
    display: none;
  }

  .header__nav_menu {
    display: flex;
    align-items: center;
  }

  .header__nav_menu > ul {
    margin: 0;
    padding: 0;

    display: flex;
    gap: 35px;
  }

  .header__nav_menu > ul > li {
    list-style-type: none;
  }

  .header__nav_menu > ul > li > a,
  .header__nav_menu > ul > li > button {
    display: block;
    text-decoration: none;
    color: var(--color-dark-s);
    background-color: transparent;
    border: 0 solid transparent;

    cursor: pointer;
  }

  .header[data-is-home="false"] .header__nav_menu > ul > li > a,
  .header[data-is-home="false"] .header__nav_menu > ul > li > button {
    color: var(--color-dark-l);
  }

  .header__nav_menu_element--active {
    cursor: default !important;
    border-bottom: 3px solid var(--color-primary) !important;
  }
}
