@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .pets__section {
    background-color: var(--color-light-l);
  }

  .pets__wrapper_content {
    width: 708px;
    margin: 0 auto;
    padding: 80px 0 100px;

    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .pets__h3 {
    color: var(--color-dark-l);
    text-align: center;
    width: 400px;
    margin: 0 auto;

    font-family: var(--h3--font-family);
    font-weight: var(--h3--font-weight);
    font-size: var(--h3--font-size);
    line-height: var(--h3--line-height);
    letter-spacing: var(--h3--letter-spacing);
  }

  .pets__slider_cards {
    width: 580px;
    margin: 0 auto;
  }

  .pets__slider_cards > ul {
    margin: 0;
    padding: 0;

    display: flex;
    gap: 40px;
  }

  .pets__slider_cards > ul > li {
    display: none;
  }

  .pets__slider_cards > ul > li:nth-child(1),
  .pets__slider_cards > ul > li:nth-child(2) {
    display: flex;
  }

  .pets__slider_cards > ul > li {
    width: 270px;
    height: 435px;
    background-color: var(--color-light-s);

    margin: 0;
    padding: 0;

    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .slider__card_image {
    width: 270px;
    height: 270px;
  }

  .pets__slider_card_text {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 6%;
    color: var(--color-dark-l);

    text-align: center;
  }

  .pets__slider_card_button {
    width: 187px;
    margin: 0 auto !important;
  }

  .pets__slider {
    position: relative;
    height: 435px;

    overflow: hidden;
  }

  .pets__slider_arrows {
    position: absolute;
    top: 0;
    left: 0;
    width: 708px;

    display: flex;
    justify-content: space-between;
    padding-top: 192px;
  }

  .pets__slider_arrow_button {
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    background-color: transparent;
  }

  .pets__button {
    width: 260px;
    height: 52px;
    margin: 0 auto;

    background-color: var(--color-primary);
    color: var(--color-dark-3xl);
    text-decoration: none;
    border-radius: 100px;
    border: none;

    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 6%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
