@media screen and (max-width: 767.5px) {
  .about__wrapper_content {
    width: 300px;
    margin: 0 auto;
    padding: 42px 0;
  }

  .about__h {
    font-family: var(--h3-mobile--font-family);
    font-weight: var(--h3-mobile--font-weight);
    font-size: var(--h3-mobile--font-size);
    line-height: var(--h3-mobile--line-height);
    letter-spacing: var(--h3-mobile--letter-spacing);

    margin: 0;
    padding: 0;
    padding-bottom: 3px;

    width: 300px;
    text-align: center;
    color: var(--color-dark-l);
  }

  .about__h > span {
    display: block;
  }

  .about__wrapper_content .assets__paragraph_I {
    padding-top: 22px;
    width: 270px;
    margin: 0 auto;
    text-align: justify;
  }

  .about__pets {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 42px;
  }

  .about__pets > img {
    width: 260px;
  }
}
