.main_section {
  height: 908px;
  background:
    url(../assets/main_sections/start-screen-gradient-background.png) 0% 0% /
      110px 110px repeat,
    url(../assets/main_sections/start-screen-background.png),
    radial-gradient(70% 160% at 0% 0%, #5b483a 0%, #262425 100%);
}

.header {
  height: 60px;
  margin: 0 auto;
  padding: 30px 0;
}

.header > .global__content {
  display: flex;
  justify-content: space-between;
}

/* logo */

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  max-width: 186px;
  text-decoration: none;
}

.header__logo_title {
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 6%;
  color: var(--color-primary);

  margin: 0;
  padding: 0;
}

.header[data-is-home="false"] .header__logo_title {
  color: var(--color-dark-l);
}

.header__logo_subtitle {
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 10%;
  color: var(--color-light-xl);
}

.header[data-is-home="false"] .header__logo_subtitle {
  color: var(--color-dark-l);
}

/* nav menu */

.header__nav_menu {
  display: flex;
  align-items: center;
}

.header__nav_menu > ul {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 35px;
}

.header__nav_menu > ul > li {
  list-style-type: none;
}

.header__nav_menu > ul > li > a,
.header__nav_menu > ul > li > button {
  display: block;
  text-decoration: none;
  color: var(--color-dark-s);
  background-color: transparent;
  border: 0 solid transparent;

  cursor: pointer;
}

.header__nav_menu > ul > li > button:disabled {
  cursor: not-allowed;
}

.header[data-is-home="false"] .header__nav_menu > ul > li > a,
.header[data-is-home="false"] .header__nav_menu > ul > li > button {
  color: var(--color-dark-l);
}

.header__nav_menu > ul > li > a[data-is-active="1"],
.header__nav_menu > ul > li > button[data-is-active="1"] {
  border-bottom: 3px solid var(--color-primary);
}
