@media screen and (min-width: 1280px) {
.pagination_pets__section {
  background-color: var(--color-light-l);
}

.pagination_pets__content_wrapper {
  width: calc(1200px);
  margin: 0 auto;
  padding: 80px 40px 100px;

  display: flex;
  flex-direction: column;
  gap: 45px;
}

.pagination_pets__h {
  width: 400px;
  margin: 0 auto;
  color: var(--color-dark-l);
  text-align: center;
}

.pagination_pets__button {
  display: flex;
  justify-content: center;
  gap: 20px;
}
}
