/* 
https://github.com/rolling-scopes-school/tasks/blob/master/stage0.5%20Bootcamp/tasks/shelter/shelter.md
https://www.figma.com/file/Yk6EnbY63FyG2PJTFkJDMh/shelter
*/

:root {
  /* h2 */
  --h2--font-family: Georgia;
  --h2--font-weight: 400;
  --h2--font-size: 44px;
  --h2--leading-trim: NONE;
  --h2--line-height: 130%;
  --h2--letter-spacing: 0%;
  --h2--vertical-align: middle;
  /* h3 */
  --h3--font-family: Georgia;
  --h3--font-weight: 400;
  --h3--font-size: 35px;
  --h3--leading-trim: NONE;
  --h3--line-height: 130%;
  --h3--letter-spacing: 6%;
  --h3--vertical-align: middle;
  /* h3 mobile */
  --h3-mobile--font-family: Georgia;
  --h3-mobile--font-weight: 400;
  --h3-mobile--font-size: 25px;
  --h3-mobile--line-height: 130%;
  --h3-mobile--letter-spacing: 6%;
  /* h4 */
  --h4--font-family: Georgia;
  --h4--font-weight: 400;
  --h4--font-size: 20px;
  --h4--leading-trim: NONE;
  --h4--line-height: 115%;
  --h4--letter-spacing: 6%;
  --h4--vertical-align: middle;
  /* h5 */
  --h5--font-family: Georgia;
  --h5--font-weight: 400;
  --h5--font-size: 15px;
  --h5--leading-trim: NONE;
  --h5--line-height: 110%;
  --h5--letter-spacing: 6%;
  --h5--text-align: center;
  --h5--vertical-align: middle;
}

.assets__paragraph_I {
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0;

  margin: 0;
  padding: 0;
}

.assets__h2 {
  font-family: Georgia;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  letter-spacing: 0%;

  margin: 0;
  padding: 0;
}

.assets__h3 {
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 6%;

  margin: 0;
  padding: 0;
}

.assets__h4 {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 6%;

  margin: 0;
  padding: 0;
}

.assets__h5 {
  font-family: Georgia;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 6%;

  margin: 0;
  padding: 0;
}

.assets__button_secondary {
  width: 207px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  background-color: transparent;

  font-family: Georgia;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 6%;

  transition: 0.5s all ease-in-out;
}

.assets__button_secondary:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.assets__button_primary {
  all: unset;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 207px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  background-color: var(--color-primary);
  color: var(--color-dark-3xl);

  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 6%;

  transition: 0.5s all ease-in-out;
  text-decoration: none;
}

button.assets__button_primary {
  width: calc(207px - 2px * 2);
}

.assets__button_primary:hover {
  cursor: pointer;
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}
