@media screen and (min-width: 1280px) {
.pets__section {
  background-color: var(--color-light-l);
}

.pets__wrapper_content {
  padding: 80px 40px 100px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.pets__h3 {
  color: var(--color-dark-l);
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.pets__slider_arrow_button_block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pets__slider_arrow_button {
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  background-color: transparent;

  transition: 0.5s all ease-in-out;
}

.pets__slider_arrow_button:disabled {
  border-color: var(--color-dark-s);
  color: var(--color-dark-s);
}

.pets__slider_arrow_button:not(:disabled):hover {
  cursor: pointer;

  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.pets__slider_arrow_button[data-is-active="1"] {
  background-color: var(--color-primary);
}

.pets__slider {
  display: flex;
  gap: 53px;

  width: 1200px;
  position: relative;
  margin: 0 auto;
}

.pets__slider_cards {
  width: 100%;
}

.pets__slider_cards > ul {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 90px;

  width: 990px;
  margin: 0 auto;
}

.pets__slider_cards[data-is-home="false"] > ul {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0;
  row-gap: 30px;

  padding: 15px 0;
}

.pets__slider_cards > ul > li {
  list-style-type: none;
  width: 270px;
  background-color: var(--color-light-s);
  border-radius: 9px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  transition: 0.5s all ease-in-out;
}

.pets__slider_cards > ul > li:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px #0d0d0d0a;
}

.slider__card_image {
  width: 270px;
  height: 270px;
}

.pets__slider_card_text {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 6%;
  color: var(--color-dark-l);

  text-align: center;
}

.pets__slider_card_button {
  width: 187px;
  margin-bottom: 30px;
}

.pets__slider_card_button:hover {
  cursor: pointer;
}

.pets__button {
  width: calc(261px - 2px * 2);
  height: calc(52px - 2px * 2);
  display: flex;
}

.pets__slider_arrows {
  position: absolute;
  top: 192px;
  left: 0;

  width: 1200px;

  display: flex;
  justify-content: space-between;
}

.pets__slider_arrow_button {
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  background-color: transparent;
}

.pets__button {
  width: 260px;
  height: 52px;
  margin: 0 auto;

  background-color: var(--color-primary);
  color: var(--color-dark-3xl);
  text-decoration: none;
  border-radius: 100px;
  border: none;

  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 6%;

  display: flex;
  justify-content: center;
  align-items: center;
}
}
