@media screen and (min-width: 1280px) {
  .pagination_pets__content_wrapper {
    gap: 45px;
    padding: 80px 40px 100px;
    overflow: hidden;
  }

  .pets__slider_cards[data-is-home="false"] > ul > li:nth-child(1),
  .pets__slider_cards[data-is-home="false"] > ul > li:nth-child(2),
  .pets__slider_cards[data-is-home="false"] > ul > li:nth-child(3),
  .pets__slider_cards[data-is-home="false"] > ul > li:nth-child(4),
  .pets__slider_cards[data-is-home="false"] > ul > li:nth-child(5),
  .pets__slider_cards[data-is-home="false"] > ul > li:nth-child(6),
  .pets__slider_cards[data-is-home="false"] > ul > li:nth-child(7),
  .pets__slider_cards[data-is-home="false"] > ul > li:nth-child(8) {
    display: flex;
  }

  .pagination_pets__button {
    gap: 20px;
  }

  .pagination_pets__h {
    font-family: var(--h3--font-family);
    font-weight: var(--h3--font-weight);
    font-size: var(--h3--font-size);
    line-height: var(--h3--line-height);
    letter-spacing: var(--h3--letter-spacing);
  }
}

.pagination_pets__section {
  background-color: var(--color-light-l);
}

.pagination_pets__button {
  display: flex;
  justify-content: center;
}

.pagination_pets__h {
  color: var(--color-dark-l);
  text-align: center;

  padding: 0;
  margin: 0 auto;
}

.pagination_pets__content_wrapper {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.pets__slider_cards[data-is-home="false"] > ul {
  flex-wrap: wrap;
}
