@media screen and (max-width: 767.5px) {
  .main_section {
    background:
      url(../../../assets/main_sections/start-screen-gradient-background.png) 0%
        0% / 110px 110px repeat,
      /* url(../../../assets/main_sections/start-screen-background.png), */
        radial-gradient(70% 160% at 0% 0%, #5b483a 0%, #262425 100%);
  }

  body[data-is-menu-opened="true"] {
    overflow: hidden;
  }

  .header > div {
    display: flex;
    justify-content: space-between;
  }

  .header__content {
    width: 280px;
    margin: 0 auto;
  }

  .header__logo {
    width: 186px;
    height: 60px;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .header__nav_menu {
    position: fixed;

    top: 0;
    right: -300vw;
    transition: all 1s ease-in-out;

    background-color: var(--color-dark-3xl);
    width: 320px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__nav_menu > ul {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .header__nav_menu > ul > li {
    list-style-type: none;
  }

  .header__nav_menu > ul > li > a,
  .header__nav_menu > ul > li > button {
    font-family: var(--p-mobile--font-family);
    font-weight: var(--p-mobile--font-weight);
    font-size: var(--p-mobile--font-size);
    line-height: var(--p-mobile--line-height);
    letter-spacing: var(--p-mobile--letter-spacing);
    color: var(--color-dark-s);
    text-decoration: none;

    background-color: transparent;
    border: none;
  }

  .header__nav_menu > ul > li > button {
    border-bottom: 3px solid var(--color-primary);
  }

  body[data-is-menu-opened="true"] .header__nav_menu {
    z-index: 20;
    top: 0;
    right: 0;
  }

  .header__logo_title {
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 6%;
    color: var(--color-primary);

    margin: 0;
    padding: 0;
  }

  .header__logo_subtitle {
    font-family: Arial;
    font-size: 13px;
    letter-spacing: 10%;
    color: var(--color-light-xl);
    padding-left: 4px;
  }

  .header__burger_menu {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 0;
    z-index: 30;
  }

  body[data-is-menu-opened="true"] .header__burger_menu {
    position: fixed;
    top: 30px;
    right: 20px;
    transform: rotate(90deg);
    transition: all 1.5s ease-in-out;
  }

  .header__burger_menu > span {
    width: 30px;
    height: 2px;
    background-color: var(--color-primary);
  }

  .header[data-is-home="false"] .header__burger_menu > span {
    background-color: black;
  }

  body[data-is-menu-opened="true"] .header__burger_menu > span {
    background-color: var(--color-primary) !important;
  }

  .header__nav_menu_overlay {
    position: fixed;
    z-index: 10;
    transition: all 1s ease-in-out;

    top: 0;
    left: -300vw;

    width: 100%;
    height: 100%;

    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
  }

  body[data-is-menu-opened="true"] .header__nav_menu_overlay {
    background-color: #29292999;

    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
  }
}
